.speech{
font-family:sans-serif;
font-size: 15px;
color: black;
}

.stagedirections{
    background-color: lightgreen;
}

.stagedirections:hover{
    background-color: blue;
    color: goldenrod;
}

.guido{
    color: purple;
}
.duchess{
    color:maroon;
}

th, td {
    border: 3px solid;
    color: darkblue;
    text-align: center;
    padding: 8px;
    margin: 25px 50px 75px 100px ; 
}
table{
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color:honeydew;
}

.guido:hover{
    text-shadow:2px 3px 5px green;
}

.duchess:hover{
    text-shadow:5px 5px 5px purple;
}